<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  
<mapper namespace="com.homtrip.model.HotelFacilitiesVO">  


    
    <select id="SELECTFacilitiesBYID" resultType="com.homtrip.model.HotelFacilitiesVO">  
       SELECT * FROM hotel_facilities WHERE guid= #{hotelId}
    </select> 
    
</mapper>  
