<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  
<mapper namespace="com.homtrip.model.HotelJoinInfoVO">  

    <update id="update" parameterType="com.homtrip.model.HotelJoinInfoVO">  
    <![CDATA[ 
        
    ]]>  
    </update>  
    
    <select id="selectByid" resultType="com.homtrip.model.HotelJoinInfoVO">  
       SELECT * FROM hoteldetails WHERE hotelId= #{hotelId}
    </select> 
    
</mapper>  
